@{
    ViewData["Title"] = "Home Page";
}

<ul>
@foreach (Integrante Integrante in ViewBag.Integrantes){
    <li>
        <a href='@Url.Action("InfoIntegrante", "Home", new {dni = Integrante.getDni()})'>@Integrante.getFoto()</a>
    </li>
}
</ul>
