@{
    ViewData["Title"] = "Home Page";
}

<ul>
@foreach (Integrante Integrante in ViewBag.Integrantes.Values){
    <li>
        <a href='@Url.Action("SelectIntegrante", "Home", new {dni = Integrante.getDni()})'><img src = @Integrante.getFoto() alt = ""></a>
    </li>
}
</ul>
